
body{
  background-color:rgb(217, 250, 250)

 } 
header {
  padding: 2em;
  margin-top: 2em;
  text-align: center;
  color: rgb(148, 147, 147);
  font-family: "Tahoma";
}
.music {
  font-size: 1.5em;
  font-style: bold;
  color: rgb(14, 13, 13);
}
.btn-large {
  margin: 0.5em;
}
.card {
  text-align: center;
  width: 45em;
  border-radius: 25px;
  margin-top: 15px;
}
.new-music-button {
  background-color: #00aeff;
  letter-spacing: 0.1px;
  margin-top: 20px;
  border: 0px solid #00aeff;
  border-radius: 5px;
  color: white;
  outline: 0;
}
.new-music-button:hover {
  opacity: 0.5;
}
