body {
  /* background-color:rgb(217, 250, 250); */
  background-image: url(img/dancin_bg.jpg);
  background-size: cover;
  background-position: row;
  background-blend-mode: luminosity;
}
header {
  padding: 2em;
  margin-top: 5rem;
  text-align: center;
  color: #67a7b8;
  font-family: "Tahoma";
}
.music {
  font-size: 1.5em;
  font-style: bold;
  color: #ace453;
}
.btn-large {
  margin: 0.5em;
}
.card {
  text-align: center;
  border: none;
  width: 45em;
  border-radius: 25px;
  margin-top: 15px;
  background-color: transparent;
}
.new-music-button {
  background-color: #00aeff;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 0.65rem;
  /* border: 0px solid #00aeff; */
  border-radius: 5px;
  color: white;
  outline: none;
  border: 0;
  transition: 100ms;
}
.new-music-button:hover,
:focus {
  /* opacity: 0.9; */
  border: 1px solid #d3d2d2f3;
  outline: none;
  cursor: pointer;
  opacity: 0.9;
}
